.whiteSpotImg {
  position: absolute;
  z-index: -30;
  right: 0px;
  top: -1.5vh;
  width: 62.5%;
  height: 76.7rem;
  transition: all 0.2;
}

.hidden {
  opacity: 0;
}

.whiteRect {
  position: absolute;
  z-index: -30;
  top: -5%;
  right: -4.8%;
  width: 68%;
  height: 16.4rem;
  background-color: #fbfaff;
  border-radius: 4rem;
}
