.imgList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;
  justify-content: space-around;
  z-index: 100;
  margin-left: 4rem;
  margin-right: 4rem;
  transform: translateY(-55%);
}
