.item {
  width: 100%;
  height: 46rem;
  background-color: white;
  z-index: 10;
  list-style: none;
  color: black;
  border-radius: 1rem;
  transition: all 1s ease-in-out;
}
.itemExpanded {
  height: 50rem;
}
.imageContainer {
  height: 60%;
}

.imageContainer img {
  height: 100%;
  object-fit: contain;
}

.detailsContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 2rem;
  padding-left: 3rem;
}

.price {
  align-self: flex-end;
  font-size: 1.8rem;
  font-family: Exo;
  font-weight: 400;
}
.price span {
  font-size: 1.4rem;
}
.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton {
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  font-family: Arista Pro Trial;
  font-weight: 300;
  line-height: 1.2rem;
  border-radius: 1rem;
  border: 0.1rem solid black;
}
.productName {
  font-family: Ermilov;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2rem;
}
.productType,
.favoriteText {
  font-family: Arista Pro Trial;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
}
.productType {
  font-size: 2rem;
}
.favoriteText {
  font-size: 1.6rem;
  display: flex;
  column-gap: 1rem;
}
