.list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  list-style-type: none;
}

.list a {
  font-family: Arista-Pro-Light;
  color: #686868;
}

.title {
  color: black;
}

.container {
  margin-left: 4%;
  margin-bottom: 4%;
}
