.list {
  width: 90%;
  overflow-x: auto;
  display: -webkit-box;
  column-gap: 3rem;
  padding-bottom: 4rem;
}
.list::-webkit-scrollbar {
  background-color: transparent;
  height: 1rem;
}
.list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1rem;
}

.section {
  padding-top: 4rem;
  border-top: 0.2rem solid white;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
}
.recommendedProduct {
  height: calc(22rem + 20vw);
  width: calc(33.333333% - 3rem);
}

.controlButtons {
  column-gap: 1rem;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  width: 85%;
  justify-content: flex-end;
  padding: 1.8rem 0;
}

.arrow {
  border: 0;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}
