.formContainer {
  min-height: 45rem;
  width: 34rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
  border-radius: 1rem;
  padding: 2rem;
  row-gap: 6rem;
}

.submitButtn {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  width: 60%;
  align-self: center;
  border-radius: 0.5rem;
  background-color: #0a2641;

  border: none;
  color: white;
  font-family: Ermilov;
  font-weight: 200;
  transition: transform 200ms ease-in-out;
}

.submitButtn:active {
  transform: scale(0.98);
}
.paymentDetails {
  display: flex;
  flex-direction: column;

  row-gap: 0.8rem;
  color: #2c2c2c;
}

.containerPayment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.total {
  padding-top: 1rem;
  border-top: 0.2rem solid gray;
}
