.ulNavbarSmall {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 6.4rem;
  width: 60rem;
}

.heightDefault {
  height: 30%;
}

.heightHovered {
  height: 100%;
}
