.ulNavbarSmall {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4em;
  width: 32%;
  min-width: 600px;
}

.heightDefault {
  height: 30%;
}

.heightHovered {
  height: 100%;
}
