.ulNavbarSmall {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4.8rem;
  width: 56rem;
}

.heightHovered {
  height: 100%;
}

@media (max-width: 87.5em) {
  .header__icons {
    margin-left: 0;
  }
}

@media (max-width: 75em) {
  .ulNavbarSmall {
    justify-content: space-around;
    margin-left: 3.2rem;
    width: 40rem;
  }
}
