.goBack {
  width: 6rem;
  height: 6rem;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  margin-left: 6.4rem;
}

.goBackLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.goBackImg {
  width: 80%;
}

.goBackText {
  font-family: Arista-Pro-Light;
  font-size: 1.4rem;
  color: #fbfaff;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productGrid {
  display: grid;
  max-width: 120rem;
  column-gap: 3.2rem;
  grid-template-columns: 1fr 1fr;
}

.productGrid::-webkit-scrollbar {
  display: none;
}

.recommendedProductsUl {
  display: flex;
}

.actionButtons {
  display: flex;
  gap: 1.6rem;
  margin-top: 3.2rem;
  align-items: center;
  font-size: 3rem;
}

.addToCartButton {
  width: 36rem;
  height: 5rem;
  border-radius: 1rem;
  border: none;
}
.addToFavButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}

.productName {
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}

.productType {
  font-family: Arista-Pro-Light;
  color: #fbfaff;
  font-size: 2rem;
  font-weight: 400;
}

.productPrice {
  color: #fbfaff;
  font-size: 3rem;
  font-family: Arista-Pro-Light;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
}

.productPriceNumber {
  font-family: Arial, Helvetica, sans-serif;
}

.descriptionTitleContainer {
  display: flex;
  height: 4rem;
  font-size: 2rem;
  margin-top: 6.8rem;
  gap: 0.2rem;
  align-items: center;
}

.descriptionTitleContainer h2 {
  font-family: Ermilov;
  padding-top: 0.6rem;
}

.star {
  width: 3rem;
}

.details {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: Arista-Pro-Light;
}

.readMore {
  display: inline-block;
  margin-top: 0.8rem;
  font-family: Arista-Pro-Light;
  font-size: 1.8rem;
  border-bottom: 1px solid #fbfaff;
}

.characteristicsContainer {
  display: flex;
  margin-top: 6.4rem;
  margin-bottom: 1.6rem;
  align-items: center;
  gap: 0.2rem;
}

.characteristics {
  font-size: 1.6rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: Arista-Pro-Light;
}

.characteristicsIcon {
  width: 3rem;
}

.showAll {
  margin: 0.8rem 0;
  display: inline-block;
  font-family: Arista-Pro-Light;
  font-size: 1.8rem;
  border-bottom: 1px solid #fbfaff;
}

.recommendedProducts {
  margin-top: 12.8rem;
}

.buttonSubmitReview {
  width: 13rem;
  font-size: 1.6rem;
  margin-left: auto;
  border-radius: 1rem;
  height: 2.7rem;
}

.reviewContainer {
  width: 43rem;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: 1.6rem;
}

textarea {
  margin-top: 4.8rem;
  resize: none;

  color: #ffffff;
  font-size: 1.6rem;
  padding: 1.2rem;
  height: 10rem;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #ffffff;
  background-color: #1e1e1e;
}

textarea::placeholder {
  color: #ffffff;
  font-size: 1.6rem;
}

textarea:focus {
  border-color: #f9c31f;
  outline: none;
  box-shadow: 0 0 5px rgba(249, 195, 31, 1);
}
