.goBack {
  width: 6rem;
  height: 6rem;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  margin-left: 6.4rem;
}

.goBackLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.goBackImg {
  width: 80%;
}

.goBackText {
  font-family: Arista-Pro-Light;
  font-size: 1.4rem;
  color: #fbfaff;
}

.container section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productGrid {
  display: grid;
  max-width: 120rem;
  column-gap: 3.2rem;
  grid-template-columns: 47fr 53fr;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.productGrid::-webkit-scrollbar {
  display: none;
}

.recommendedProductsUl {
  display: flex;
}

.actionButtons {
  display: flex;
  gap: 1.6rem;
  margin-top: 3.2rem;
  align-items: center;
  font-size: 3rem;
}

.addToCartButton {
  width: 36rem;
  height: 5rem;
  border-radius: 1rem;
  border: none;
}

.productName {
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}

.productType {
  font-family: Arista-Pro-Light;
  color: #fbfaff;
  font-size: 2rem;
  font-weight: 400;
}

.productPrice {
  color: #fbfaff;
  font-size: 3rem;
  font-family: Arista-Pro-Light;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
}

.productPriceNumber {
  font-family: Arial, Helvetica, sans-serif;
}

.productText {
  height: 170vh;
}

.recommendedProducts {
  margin-top: 12.8rem;
}

.container {
  width: 100%;
}

.sizeRect {
  width: 5rem;
  height: 3rem;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  border-radius: 0.3rem;
  border: 1px solid #fbfaff;
}

.sizeRectFilled {
  background-color: #f9c31f;
  color: black;
}

.sizeNotAvailable {
  filter: brightness(0.5);
  cursor: default;
}
