.selection {
  background: transparent;
  border: 0;
}

.selection:focus {
  outline: none;
  width: fit-content;
}

.container {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: relative;
  user-select: none;
}

.imageContainer {
  height: 20%;
}

.imageContainer img {
  height: 100%;
  object-fit: contain;
}

.image {
  transition: all 0.1s ease-in-out;
}

.image.open {
  transform: rotate(180deg);
}
