.formBox {
  position: relative;
  width: 38rem;
  height: 54rem;
  background-color: rgb(255 255 255);
  border: 0.2rem solid rgb(255, 163, 4);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}

.actionTitle {
  font-size: 2.4rem;
  color: #000;
  text-align: center;
  margin-bottom: 4rem;
  font-family: Arista Pro Trial;
  font-weight: 300;
}
.inputbox {
  width: 70%;
  border-bottom: 2px solid #000;
  font-size: 1.2rem;
  transition: max-height 0.5s;
}
.buttonCase {
  width: 90%;
  display: flex;
  justify-content: center;
}

.buttonCase button:disabled {
  background: gainsboro;
  color: #555;
}

.onestroke {
  display: flex;
  justify-content: space-between;
}

.inputbox.half-width {
  width: 100%;
}

.inputbox.fullWidth {
  position: relative;
  top: -1rem;
  width: 90%;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-40%);
  color: #000;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

.Login {
  margin-bottom: 1.3em;
}

input:focus + .password-label,
input:valid + .password-label {
  top: -0.2em;
}

input:focus + .email-label,
input:valid + .email-label {
  top: -0.7em;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 2rem 0 1.4rem;
  color: #000;
}

.forget {
  position: relative;
  margin: -30px 1% 30px;
  left: 1vw;
  font-size: 0.9em;
  color: #000;
  display: flex;
  justify-content: space-between;
}

.forget label input {
  margin-right: 5px;
  margin-top: 10px;
}
.forget label a {
  color: #000;
  text-decoration: none;
}
.forget label a:hover {
  text-decoration: underline;
}
.subBttn {
  font-size: 1.6rem;
  padding: 1rem 3rem;
  background: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0.5rem;
}

.wrongEmail {
  color: red;
  font-size: 0.8rem;
  position: absolute;
  left: 0.7em;
}

#output {
  text-align: center;
}

.wide-btn {
  position: relative;
  top: 10px;
  width: 45%;
}

.register {
  font-size: 0.9em;
  color: #000;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.register p a:hover {
  text-decoration: underline;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.detailContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25rem;
  color: #000;
}

.detailContainer p {
  cursor: pointer;
  transition: all 50ms ease-in-out;

  font-weight: 200;
}

.detailContainer p:hover {
  transform: scale(0.99);
  color: #555;
}
