.sizesContainer {
  display: flex;
  flex-direction: column;
}

.sizesTextConteiner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-family: Arista-Pro-Light;
  color: #fbfaff;
}

.sizeRectContainer {
  display: grid;
  grid-template-columns: repeat(8, 5rem);
  margin: 2.4rem 0;
  gap: 1.6rem;
  padding: 0.4rem;
  align-self: flex-start;
}

.warning {
  border-radius: 0.5rem;
  border: 0.2rem solid rgb(255, 30, 0);
}

.warningText {
  font-size: 1.4rem;
}
