.visuallyHidden {
  display: none;
}

.search {
  /* background-image: url("../images/search.png"); */
  background-repeat: no-repeat;
  background-position: right center;
  height: 3rem;
  width: 25rem;
  padding: 0 0.8rem;
  background-color: #fbfaff;
  border-radius: 7px;
  border: 1px #fbfaff solid;
}
