.navbarInteractive {
  font-size: 1rem;
  display: none;
  position: relative;
  z-index: 105;
  background-color: #fbfaff;
  transform-origin: top center;
  height: 55vh;
  justify-content: center;
}

.navStyleFlex {
  display: flex;
}

.navStyleNone {
  display: none;
}

.ulNavbarInteractive {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  width: 40%;
  margin: 3em;
}

.manImage {
  margin-left: 3em;
  margin-right: 4em;
  margin-top: 3vh;
  position: absolute;
  height: 52vh;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.womanImage {
  margin-left: 3em;
  margin-right: 4em;
  margin-top: 3vh;
  position: absolute;
  height: 52vh;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  left: 0;
}

.boyImage {
  margin-left: 4em;
  margin-right: 3em;
  margin-top: 3vh;
  position: absolute;
  height: 52vh;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.girlImage {
  margin-left: 10em;
  margin-right: 4em;
  margin-top: 3vh;
  position: absolute;
  height: 52vh;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.visible {
  opacity: 1;
}

.spanCourier {
  font-family: "Courier New", Courier, monospace;
}

.animatedShow {
  animation: showMenu 0.45s ease-in-out forwards;
}

.animatedHide {
  animation: hideMenu 0.45s ease-in-out forwards;
}

@keyframes showMenu {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes hideMenu {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}
