.cardList {
  height: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  width: 100%;
  justify-content: center;
  gap: 3rem;
}

@media screen and (width <= 1000px) {
  .cardList {
    grid-template-columns: 1fr 1fr;
  }
}

.cardList li {
  height: calc(35rem + 19vh);
}

.favProductsFallback {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
}

.container h1 {
  font-size: 2.2rem;
}
.button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.button:hover {
  filter: brightness(1.1);
}

.favContainer {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding-top: 2rem;
  width: 85vw;
  margin-top: 5rem;
}
.editContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.editButtn {
  border: 0.2rem solid white;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
}
.heart {
  position: absolute;
  left: 85%;
  top: 2%;

  cursor: pointer;
}

.heart:before,
.heart:after {
  content: "";
  border: 0.8rem solid #f9c31f;
  display: inline-block;
  height: 3rem;
  background-color: #f9c31f;
  width: 2rem;
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;
  z-index: 100000;
  cursor: pointer;
}

.heart:before {
  transform: rotate(-45deg);
  position: relative;
  right: -33%;
}

.heart::after {
  transform: rotateZ(45deg);
}

.pickSizeButton {
  font-size: 1.8rem;
  width: 35%;
  height: 9%;
  position: absolute;
  right: 6%;
  bottom: 6%;
  border-radius: 1.5rem;
}

.modal {
  width: 80rem;
  height: 40rem;
  padding: 1.6rem;
  position: fixed;
  bottom: 50%;
  left: 50%;
  border-radius: 2rem;
  background-color: #fbfaff;
  transform: translate3d(-50%, 60%, 0);
  transition: transform 0.15s ease-in-out;
}

.transformCenter {
  transform: translate3d(-50%, 52%, 0);
}

.choseSizeWrapper {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
  height: 100%;
  width: 100%;
}

.choseSizeImg {
  margin-top: -20%;
}

.sexText {
  margin-bottom: 0.8rem;
}

.price {
  margin-top: 0.8rem;
}

.name {
  font-size: 3.2rem;
}

.sizeRect {
  width: 5rem;
  height: 3rem;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  border-radius: 0.3rem;
  border: 1px solid rgb(197, 197, 197);
}

.sizeRectFilled {
  background-color: #f9c31f;
  border: none;
  color: black;
}

.sizeNotAvailable {
  border: 1px solid rgb(197, 197, 197);
  opacity: 0.3;
  cursor: default;
}

.addToCart {
  font-size: 1.8rem;
  border-radius: 2rem;
  margin-top: 1.8rem;
  width: 100%;
  height: 5rem;
}
