.navbarSmall {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 100;
}

.language {
  font-size: 1.4rem;
  padding-top: 0.2rem;
  margin-right: 0.6rem;
  margin-left: 1.6rem;
}
