.button {
  cursor: pointer;
}

.primary {
  background: linear-gradient(
    180deg,
    #f9d423 0%,
    #f9a91a 31.01%,
    #f83600 91.58%
  );
  font-size: 2.4rem;
  border: 1px solid #f9a91a;
  box-shadow: 0px 0px 13px 3px #994300;
  color: white;
}

.secondary {
  font-family: Arista-Pro-Light;
  background-color: #f9c31f;
}

.secondaryDark {
  font-family: Arista-Pro-Light;
  border: 1px solid #f9c31f;
  background-color: #1e1e1e;
}
