.item {
  display: flex;
  font-size: 1.1rem;
  column-gap: 2rem;
  border-bottom: 0.2rem solid gray;
  padding-bottom: 2rem;
}

.imageContainer {
  height: 10rem;
}

.imageContainer img {
  height: 100%;
  object-fit: cover;
}

.firstContainer {
  display: flex;
  justify-content: space-between;
}
.secondContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
.secondContainer div {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}
.detailsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 20rem;
}
