.heroSection {
  display: grid;
  grid-template-columns: 20fr 80fr;
}

.sneakers {
  object-fit: cover;
}

/* .whiteArea {
  top: 109.1%;
  right: 10.6%;
  transform: scaleX(1.32) scaleY(1.1);
}
.footSteps {
  top: 66em;
  right: 8em;
  transform: rotate(25deg);
}
.footStepsRotated {
  top: 78em;
  right: 43em;
  transform: rotate(25deg);
} */
