.container {
  display: flex;
  flex-direction: column;
  height: 80rem;
  width: 100%;
}

.sectionFilters {
  width: 20%;
  height: 100%;
  background-color: bisque;
  transition: transform 1s ease-in-out;
}
.hidden {
  transform: translateX(-100%);
}

.sectionProducts {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  max-width: 100%;
  width: 80%;
}
.topContainer {
  display: flex;
  flex-direction: row;
  height: 5%;
  width: 100%;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 95%;
}
.genderNameContainer {
  display: flex;
  align-items: center;
}

.hideFiltersContainer {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-between;
}

.topContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
