.imageContainer {
  height: 100%;
}

.imageContainer img {
  height: 100%;
  object-fit: contain;
}

.cartItem {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  gap: 1.2rem;
  padding-bottom: 1rem;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid black;
  height: fit-content;
}

.textWrapper {
  display: flex;
  font-size: 1.2rem;
  font-family: Arista-Pro-Light;
  flex-direction: column;
  justify-content: space-around;
}

.priceNumber {
  font-family: Ermilov;
}

.deleteItemCrossWrapper {
  position: absolute;
  bottom: 10%;
  right: 3%;
}
.deleteItemCross {
  position: relative;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}

.deleteItemCross::before {
  content: "";
  position: absolute;
  display: block;
  background: black;
  width: 80%;
  height: 0.15rem;
  border-radius: 20%;
  top: 50%;
  transform: rotate(45deg);
}

.deleteItemCross::after {
  content: "";
  position: absolute;
  display: block;
  background: black;
  width: 80%;
  height: 0.15rem;
  border-radius: 20%;
  top: 50%;
  transform: rotate(-45deg);
}
