@font-face {
  font-family: Ermilov;
  src: url(./assets/fonts/Ermilov-bold.otf);
}
@font-face {
  font-family: Arista-Pro-Light;
  src: url(./assets/fonts/Arista-Pro-Light.ttf);
}

@font-face {
  font-family: Arista-Pro-Trial;
  src: url(./assets/fonts/Arista-Pro-Light-trial.ttf);
}

/* Variables */
:root {
  /* COLORS */
  --FONT-COLOR: #fbfaff;
  --FONT-COLOR-BLACK: #1e1e1e;
  --BG-COLOR: #1e1e1e;
  /* Fonts */
  --FF-OFFER: Arial;
  --FF: Ermilov;
  /* PADDING */
  --PADDDING-OFFER: 0.2rem;
  --primaryColor: #f09d51;
  --mainTransition: all 0.3s ease-in;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  width: 100vw;
  overflow-x: hidden;
}
body {
  background-color: var(--BG-COLOR);
  overflow-x: hidden;
  font-family: var(--FF);
  color: #fbfaff;
  line-height: 1;
  position: relative;
  font-weight: 400;
}

img {
  width: 100%;
  height: auto;
}

input,
button {
  font: inherit;
}
.span-courier {
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--FONT-COLOR-BLACK);
}

a:hover,
a:focus {
  transform: scale(1.08);
  transition: all 0.3s ease-in-out;
}

/* UTILITY CLASSES */
.nowrap {
  white-space: nowrap;
}
