.header__icons {
  margin-left: 2rem;
  width: 13rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 2.5rem;
}

.cartBtn {
  display: flex;
  cursor: pointer;
  position: relative;
  justify-content: center;
}

.cartItems {
  position: absolute;
  font-size: 1rem;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -35%);
}

.loadingPlaceholder {
  filter: blur(10px) opacity(0.5);
}
