.returnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  top: 2%;
  left: 1%;
  color: black;
  column-gap: 0.6rem;
  cursor: pointer;
}
.returnContainer span {
  font-size: 2rem;
}
