.cardList {
  height: 100%;
  padding: 0 6rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(30rem, 1fr));
  grid-auto-rows: 46rem;
  width: 100%;
  justify-content: center;
  gap: 3rem;
  transition: all 0.5s ease-in-out;
}

.expandedList {
  grid-template-columns: repeat(3, minmax(60rem, 1fr));
  grid-auto-rows: 60rem;
}
@media screen and (width <= 1250px) {
  .cardList {
    grid-template-columns: 1fr 1fr;
  }
}
